# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/

# Environment variables & Local configuration
.env
server/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
